<div align='center'> <b> <span style='color:#006600;'> <h1> ASSIGNMENT WEEK 7 - AGGREGATING DATA </h1> </span> </b> </div>

<b><h1> IS362 - Assignment 7 </h1><h4>Name:Rickardo Henry</b> 

Choose six recent popular movies. Ask at least five people that you know (friends, family, classmates, imaginary friends) to rate each of these movies that they have seen on a scale of 1 to 5. There should be at least one movie that not everyone has seen! Take the results (observations) and store them somewhere (like a SQL database, or a .CSV file). Load the information into a pandas dataframe. Your solution should include Python and pandas code that accomplishes the following:
    <ul style="list-style-type:disc">
  <li>Load the ratings by user information that you collected into a pandas dataframe.</li>
  <li>Show the average ratings for each user and each movie.</li>
  <li>Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.</li>
  <li>Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.</li>
  <li>[Extra credit] Create another new pandas dataframe, with standardized ratings for each user. Once again, show the average ratings for each user and each movie.</li>
</ul>
    
<b> As usual lets begin by importing the pandas and numpy modules. </b>

In [49]:
import pandas as pd
import numpy as np

reviews = pd.read_csv('https://raw.githubusercontent.com/eliz79/IS362_Assignment7/master/movie_reviews.csv', index_col = 0)
reviews.head() #reads the .csv data while setting the first rows as a header

,Wonder Woman,Girls Trip,Power Rangers,Planet of the Apes,Beauty and the Beast,Fast and The Furious
Adriel,3.0,NaN,5.0,5.0,2,5
Adalyz,5.0,4.0,3.0,NaN,5,4
Carmen,5.0,5.0,NaN,3.0,4,3
Jack,NaN,3.0,5.0,5.0,3,5
Alex,NaN,3.0,4.0,5.0,3,5

<b> Replacing blank values with '0' for easier viewing in the entire dataframe. </b>

In [50]:
reviews.replace(np.NaN, 0)

,Wonder Woman,Girls Trip,Power Rangers,Planet of the Apes,Beauty and the Beast,Fast and The Furious
Adriel,3.0,0.0,5.0,5.0,2,5
Adalyz,5.0,4.0,3.0,0.0,5,4
Carmen,5.0,5.0,0.0,3.0,4,3
Jack,0.0,3.0,5.0,5.0,3,5
Alex,0.0,3.0,4.0,5.0,3,5

<b> Now lets display the average ratings for each user. </b>

In [51]:
reviews.mean(axis = 1)

Adriel    4.0
Adalyz    4.2
Carmen    4.0
Jack      4.2
Alex      4.0
dtype: float64

<b> Now lets display the average ratings for each movie. </b>

In [52]:
reviews.mean() #you can get the same results if the axis = 0

Wonder Woman             4.333333
Girls Trip               3.750000
Power Rangers            4.250000
Planet of the Apes       4.500000
Beauty and the Beast     3.400000
Fast and The Furious     4.400000
dtype: float64

<b> Now lets look a the same data but normalized. 
We will begin by reading the data from the same .csv file, then show the average rating for each user average and movie.</b>

<b><hr></b>

<h1> NORMALIZED DATA </h1>

In [53]:
normalized = (reviews - reviews.min()) / (reviews.max() - reviews.min())
normalized

,Wonder Woman,Girls Trip,Power Rangers,Planet of the Apes,Beauty and the Beast,Fast and The Furious
Adriel,0.0,NaN,1.0,1.0,0.000000,1.0
Adalyz,1.0,0.5,0.0,NaN,1.000000,0.5
Carmen,1.0,1.0,NaN,0.0,0.666667,0.0
Jack,NaN,0.0,1.0,1.0,0.333333,1.0
Alex,NaN,0.0,0.5,1.0,0.333333,1.0

<b> We replace <i>'blank/NaN' </i> values with '0' for easier viewing. </b>

In [54]:
normalized.replace(np.NaN, 0)

,Wonder Woman,Girls Trip,Power Rangers,Planet of the Apes,Beauty and the Beast,Fast and The Furious
Adriel,0.0,0.0,1.0,1.0,0.000000,1.0
Adalyz,1.0,0.5,0.0,0.0,1.000000,0.5
Carmen,1.0,1.0,0.0,0.0,0.666667,0.0
Jack,0.0,0.0,1.0,1.0,0.333333,1.0
Alex,0.0,0.0,0.5,1.0,0.333333,1.0

<b> Now lets see the normalized data average ratings for each user. </b>

In [55]:
normalized_avg_by_user = normalized.mean(axis = 1)
normalized_avg_by_user

Adriel    0.600000
Adalyz    0.600000
Carmen    0.533333
Jack      0.666667
Alex      0.566667
dtype: float64

<b> Now lets see the normalized data average ratings for each movie. </b>

In [56]:
normalized_avg_by_movie = normalized.mean()
normalized_avg_by_movie

Wonder Woman             0.666667
Girls Trip               0.375000
Power Rangers            0.625000
Planet of the Apes       0.750000
Beauty and the Beast     0.466667
Fast and The Furious     0.700000
dtype: float64

<h1>Normalized Data Conclusion:</h1>

<b>Normalized data can have its advantages as well as its disadvantages. Normailized data can help users get a better look at the data by accounting for anomalies such as outliners and/or duplicates. Normalization serves the purpose of bringing the indicators into the same unit. A disadvantage of normalized data can be the <i>'null'</i> values. It creates null values which can become unrealiable data and confusing to the user. Having normalized data can as well have its advantages. One advantage is it gives users a better scale of viewing 'normal' data that can be used in graphs for plotting if needed for graphical viewing. Below is the common format to normalize data:</b> 

<b><div align='center'> normalized = ( x - x.min() ) / ( x.max() - x.min() ) </div></b>

<hr>

<b> Now lets look a the same data but standardized. 
We will begin by reading the data from the same .csv file, then show the average ratings for each user and movie.</b>

<h1> STANDARDIZED DATA </h1>

In [61]:
standardized = (reviews - reviews.mean())/reviews.std()
standardized

,Wonder Woman,Girls Trip,Power Rangers,Planet of the Apes,Beauty and the Beast,Fast and The Furious
Adriel,-1.154701,NaN,0.783349,0.5,-1.227881,0.670820
Adalyz,0.577350,0.261116,-1.305582,NaN,1.403293,-0.447214
Carmen,0.577350,1.305582,NaN,-1.5,0.526235,-1.565248
Jack,NaN,-0.783349,0.783349,0.5,-0.350823,0.670820
Alex,NaN,-0.783349,-0.261116,0.5,-0.350823,0.670820

<b> We replace <i>'blank/NaN' </i> values with '0' for easier viewing. </b>

In [58]:
standardized.replace(np.NaN, 0)

,Wonder Woman,Girls Trip,Power Rangers,Planet of the Apes,Beauty and the Beast,Fast and The Furious
Adriel,-1.154701,0.000000,0.783349,0.5,-1.227881,0.670820
Adalyz,0.577350,0.261116,-1.305582,0.0,1.403293,-0.447214
Carmen,0.577350,1.305582,0.000000,-1.5,0.526235,-1.565248
Jack,0.000000,-0.783349,0.783349,0.5,-0.350823,0.670820
Alex,0.000000,-0.783349,-0.261116,0.5,-0.350823,0.670820

<b> Now lets see the standardized data average ratings for each user. </b>

In [59]:
standardized_avg_by_users = standardized.mean(1) 
standardized_avg_by_users

Adriel   -0.085682
Adalyz    0.097793
Carmen   -0.131216
Jack      0.163999
Alex     -0.044894
dtype: float64

<b> Now lets see the standardized data average ratings for each movie. </b>

In [1]:
standardized_avg_by_movie = standardized.mean(0)
standardized_avg_by_movie

NameError: name 'standardized' is not defined

<h1 style="color: #FF0000;">Standardized Data Conclusion:</h1>

<b style="font-style: italic; color: #006600; font-type: Courier New;">Algorithms can accomplish better execution if the information has a reliable scale or appropriation. Having institutionalized information helps revolve the information around 0 and to scale in regard to standard deviation. The accompanying organization is utilized to institutionalized information:</b>

<b><div align = 'center' style="color: purple;"> standardized = (x - x.mean()) / x.std()  </div></b>

<hr>

<h1><div align='center'><span style='color:#FF0000'>THANK YOU!</span></div></h1>